/*? ----------CENTRAL LOGOTYPE----------- */
.central__title {
    font-size: 2.7rem;
}

/*? ----------ARTICLES----------- */
.button__articles--language::before,
.button__articles--language::after {
    width: 8.5rem;
}

.button__articles--language::before {
    left: -9.5rem;
}

.button__articles--language::after {
    right: -9.5rem;
}

/* ----------BROWSER INFORMATION----------- */
.browser__information {
    grid-template-columns: 35% repeat(3, 1fr);
    align-items: flex-start;
    margin-top: 2rem;
}

/* ?------------CENTRAL INFORMATION WIKIPEDIA-------------- */
.central__information {
    flex-direction: row;
    align-items: flex-start;
    grid-column-start: span 1;
}

.central__information p {
    padding: 0 0 0 1rem;
    margin: 0;
    text-align: initial;
}

/*? ----------DOWNLOAD APPLICATION----------- */

.download__application {
    grid-column-start: span 1;
    grid-row: 2;
    padding: 0 1.5rem;
}

.download__application h3,
.download__application p {
    text-align: initial;
}

.download__application ul {
    min-width: 100%;
    flex-direction: column;
}

/*? ----------LICENSE TERMS AND CONDITIONS----------- */
.license__terms--conditions {
    grid-column-start: span 4;
}