:root {
    --title--color: #36c;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------CONTAINER----------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}

/* ----------BROWSER CONTAINER----------- */
.browser__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    grid-row-gap: 2rem;
}

/*? ----------CENTRAL LOGOTYPE----------- */
.logo {
    margin: 0;
    justify-self: self-end;
}

.logo img {
    width: 6rem;
    object-fit: cover;
}

.central__title {
    justify-self: self-start;
    grid-column-start: span 2;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2rem;
    text-align: center;
    margin: 0;
    padding-left: 1rem;
}

.central__title .letter {
    font-size: 3.5rem;
}

.central__title--subtitle {
    display: block;
    font-size: 1.5rem;
    text-transform: initial;
}

/*? ----------SEARCH----------- */
.search {
    position: relative;
    grid-column-start: span 3;
}

.search__input {
    position: relative;
    width: 84%;
    min-height: 4.5rem;
}

.button__select--language {
    position: relative;
}

.button__select--language select {
    position: absolute;
    top: -.7rem;
    right: 0;
    min-width: 5rem;
    min-height: 2.4rem;
    margin-right: 1.5rem;
}

.search__button {
    position: absolute;
    width: 5.6rem;
    min-height: 4.5rem;
    border: none;
    outline: none;
    padding: 0;
    vertical-align: bottom;
    background-color: var(--title--color);
}

.fa-search {
    font-size: 2rem;
    text-align: center;
    padding-top: .3rem;
    color: #fff;
}