:root {
    --title--color: #36c;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------CONTAINER----------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

/* ----------BROWSER CONTAINER----------- */
.browser__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    grid-row-gap: 1rem;
}

/*? ----------CENTRAL LOGOTYPE----------- */
.logo {
    margin: 0;
    justify-self: self-end;
}

.logo img {
    width: 6rem;
    object-fit: cover;
}

.central__title {
    justify-self: self-start;
    grid-column-start: span 2;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2rem;
    text-align: center;
    margin: 0;
    padding-left: 1rem;
}

.central__title .letter {
    font-size: 3.5rem;
}

.central__title--subtitle {
    display: block;
    font-size: 1.5rem;
    text-transform: initial;
}

/*? ----------SEARCH----------- */
.search {
    position: relative;
    grid-column-start: span 3;
}

.search__input {
    position: relative;
    width: 84%;
    min-height: 4.5rem;
    padding-left: 2rem;
    font-size: 1.6rem;
}

.button__select--language {
    position: relative;
}

.button__select--language select {
    position: absolute;
    top: -.7rem;
    right: 0;
    min-width: 5rem;
    min-height: 2.4rem;
    margin-right: 1.5rem;
    border: none;
    outline: none;
}

.search__button {
    position: absolute;
    width: 5.6rem;
    min-height: 4.5rem;
    border: none;
    outline: none;
    padding: 0;
    vertical-align: bottom;
    background-color: var(--title--color);
}

.fa-search {
    font-size: 2rem;
    text-align: center;
    padding-top: .3rem;
    color: #fff;
}

/*? ----------ARTICLES----------- */
.articles__language {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    text-decoration: none;
    text-align: center;
}

.articles__language h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--title--color);
}

.articles__language span {
    display: block;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2rem;
    text-align: center;
    color: gray;
}

.button__articles--language {
    grid-column-start: span 3;
    justify-self: center;
    width: 90%;
    height: 3.5rem;
    border: .8px solid gray;
    outline: none;
    background: none;
    margin-bottom: 2rem;
}

.button__articles--img {
    display: inline-block;
    margin: 0;
}

.button__articles--img img {
    width: 1.5rem;
    vertical-align: bottom;
}

.button__articles--language span {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 .5rem;
    color: var(--title--color);
}

.fa-angle-down {
    font-size: 1.6rem;
    color: var(--title--color);
}

.dividing__line {
    grid-column-start: span 3;
    width: 100%;
    height: .1rem;
    background-color: gray;
    margin-bottom: 2rem;
}

/* ----------BROWSER CONTAINER----------- */
.browser__information {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-size: 1.4rem;
}

/* ?------------CENTRAL INFORMATION WIKIPEDIA-------------- */
.central__information {
    grid-column-start: span 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__information--logo {
    width: 4rem;
}

.central__information--logo img {
    width: inherit;
}

.central__information--description {
    text-align: center;
}

/*? ----------OTHER PROJECT----------- */
.other__project {
    display: flex;
    justify-content: center;
    align-items: center;

}

.other__project figure {
    margin: 0;
}

.other__project img {
    width: 4rem;
    object-fit: cover;
}

.other__project h3 {
    color: var(--title--color);
    margin: 0;
    line-height: .8rem;
    font-weight: 300;
}

.other__project p {
    font-size: 1.2rem;
}

.other__project h3,
.other__project p {
    padding-left: 1rem;
}